@import url('https://fonts.googleapis.com/css?family=Inconsolata|Work+Sans:400,500|Eczar:400,600');

* {
    box-sizing: border-box;
    text-rendering: optimizelegibility;
}

body {
    background-color: #fafafa;
    margin: 0 auto;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    line-height: 145%;
}

p {
    line-height: 150%;
}

section {
    max-width: 55rem;
    margin: 0 auto;
}

section.text, article {
    max-width: 40rem;
    padding: 1rem;
}

pre {
    overflow: auto;
    width: 92%;
    margin: 2rem 0;
    padding: 1rem 0.8rem 1rem 1.2rem;
    border: 1px solid crimson;
    border-left: .5rem solid crimson;
    background-color: #fff;
    }

code {
        font-family: 'Inconsolata';

}


/* layout */


header { padding: 1rem; border-bottom: 1px solid rgba(0,0,0,0.1); margin-bottom: 1rem; font-size: 90%; }
header h1 { font-size: 1em; font-weight: 400; color: #222; margin: 0; }
header nav ul {  list-style: none; margin: 0 auto; padding: 0; display: inline-block; }
header nav ul li { display: inline-block; margin-right: 1.5rem; padding-bottom: 0.5rem; }
header nav ul li:last-child { margin-right: 0; }
header a { border: none; color: gray; text-decoration: none; padding-bottom: 2px; }
header a.active { color: #222; border-bottom: 2px solid #222; }
header a:hover { color: crimson; }
a.site-title { font-weight: 600; color: #222; font-size: 16px; text-transform: lowercase;}

p.intro-img img { border-radius: 100%; max-width: 200px; width: 75%; margin: 0 auto 3rem; }
p.intro-img {text-align: center;}

footer.site-footer {
    color: gray;
    font-weight: 400;
    padding: 2rem 1rem;
    margin-top: 6rem;

    font-size: 14px;
    background-color: #e5e5e5;
}

footer p {
  max-width: 55rem;
  margin: 0 auto;
}

footer a{
  color: gray;
  border-bottom: 1px solid #bbb;
}

/* typography */

a { color: crimson; }
a:hover { color: gray; }
p a { text-decoration: none; border-bottom: 1px solid #DC143C; }
p a:hover { border-bottom-color: gray; }

a.name{
    color: black;
    font-size: 175%;
    font-weight: 500;
    text-transform: lowercase;
  }

p.intro {
  font-family: 'Eczar';
    text-align: center;
    font-size: 48px;
    margin-top: -2rem;
    font-weight: 600;
}

p.intro_aside {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 3rem;
    font-family: 'Inconsolata', monospace;
}


a#res_link {
  color: crimson;
  border-bottom: none;
}

#res_span {
  border-bottom: 1px solid;
}

    header .navwrapper{ text-align: center; }

/* media queries */
@media (min-width: 500px) {
    header { margin-bottom: 0; padding: 2rem; border-bottom: none; }
}

/* blog */

ul.tablelist, ul.tablelist li { list-style: none; margin: 0; padding: 0; line-height: 1.4;}
ul.tablelist li { border-bottom: 1px solid rgba(0,0,0,0.1); font-size: 90%; }
ul.tablelist li:last-child { border-bottom: none; }
ul.tablelist li a { border-bottom: 0; text-decoration: none; display: block; padding: 0.5rem 0 0.6rem; }
ul.tablelist li a:hover b.label { color: crimson; }

aside { border-bottom: 1px solid rgba(0,0,0,0.1); }
aside h2 { margin-top: 2em; }

.post-title{
    font-family: 'Eczar', Georgia, serif;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 100%;
    margin: 0;
}

.post-tags{
  text-transform: uppercase;
}

.post-tags a{
  color: gray;
  border-bottom: none;
}

.post-title a {
    text-decoration: none;
    color: #000;
}

.post-title a:hover {
    text-decoration: none;
    color: crimson;
}

.post-content{
  margin-top: 30px;
}

.post-content h2{
  font-weight: 500;
}

p.post-meta {
    line-height: 100%;
    color: gray;
    font-size: .85rem;
    font-family: 'Inconsolata', monospace;
}

.post-footer-thanks{
  font-weight: 600;
}

.post-footer{
  font-family: 'Eczar', Georgia, serif;
  font-weight: 400;
  letter-spacing: .5px;
  font-size: 12px;
}


/* library */

body.library{
        text-align: center;
}

body.library section a.bookpostlink{
    font-size:1rem;
    color: crimson;
}

body.library h2{
    font-family: 'Eczar', Georgia, serif;
}

body.library section a.bookpostlink:hover{
    font-size:1rem;
    color: black;
}

#library_header{
    width:100%;
    padding: 1rem;
}

body.library section:not(.footersection):not(.lede) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -mx-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto 3rem;
}

body.library section.lede {
    display: -webkit-block;
    display: block;
}


body.library section a {
    width: 50%;
    font-size: 12px;
    line-height: 16px;
    margin-top: 2rem;
    text-align: center;
    text-decoration: none;
    border-bottom: none;
    color: #222;
}

b.label { display: block; font-weight: normal; color: #222; }
em.detail { font-style: normal; font-size: 12px; color: #bbb; }

body.library section a:hover { color: crimson; }
body.library section a:hover b.label { color: crimson; }

body.library section div.imgcontainer {
    width: 100%;
    position: relative;
    height: 0;
    padding-bottom: 100%;
}

body.library section img {
    display: block;
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 60%;
    margin-bottom: 0.5rem;
}

/* reading table */
table.book16table {
    border-collapse: collapse;
    font-size: 11px;
    display: block;
       font-family: 'Inconsolata';
    border: 1px solid crimson;
    border-left: .5rem solid crimson;
  border-spacing: 0;
  background: #fff;
}

section.book16tablesec {
    margin-left: -75px;
}

.book16tablediv {
  padding-top: 10px;
      width: 775px;
  display: block;
    height: 200px;
    overflow-y: scroll;

}


table.book16table td, table.book16table th {
  border-bottom:1px solid #eee;
  color: #000;
}

table.book16table tbody{
  counter-reset: rowNumber;
}

table.book16table  tr{
    width: 100%;
}


table.book16table tbody tr{
    counter-increment: rowNumber;
}

table.book16table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: .5em;
    margin-right: 0.5em;
}

table.book16table td {
    position:relative;
}

table.book16table td:after{
    content:'';
    display:block;
}
table.book16table td .true {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:gold;
    margin: 5px;
    width: 10px;
    height: 10px;
}

table.book16table th{
    text-align: left;
}


/* Change library column counts */
@media (min-width: 500px) { body.library section a { width: 33.3333%; } }
@media (min-width: 700px) { body.library section a { width: 25%; } }
@media (min-width: 900px) { body.library section a { width: 20%; } }
