/* Amrita Maz Stylesheet! */

@import url(http://fonts.googleapis.com/css?family=Inconsolata);

*{ margin:0; padding:0; outline: 0; -webkit-font-smoothing: smooth;}

header, section, footer,
aside, nav, article, figure {
	display: block;
}


h1 {
	font-family: ostrich-sans, 'Helvetica Neue', HelveticaNeue, 'Helvetica-Neue', Helvetica, Arial, sans-serif;
	color: #fff;
	font-size: 150px;
	text-shadow: 3px 3px 1px #555;
	font-weight: 900;
	line-height: 90px;
	letter-spacing: -.02em;
	text-transform: lowercase;
	}
	
h1 span {
	color : #66cc99;
}

h1 span span {
	color: #555;
	font-weight: 900;
	text-shadow: 3px 3px 0px #fff;
}
	
body {
	font-family: 'Inconsolata', monospace;
	background: #ccc;
	margin-left: 50px;
	margin-top: 50px;
	font-size: 14px;
	text-shadow: 1px 1px 1px #fff;
	text-align: center;
	}
	
section {
	margin-top: 10px;
}
	
a {
	color: #cc3366;
	text-decoration: none;
	border-bottom: none;
	font-weight: normal;
	}
a:hover { color: #b5cc49; }
