/* Amrita Maz Stylesheet! */

@import url(http://fonts.googleapis.com/css?family=Inconsolata);

*{ margin:0; padding:0; outline: 0; -webkit-font-smoothing: smooth;}

header, section, footer,
aside, nav, article, figure {
	display: block;
}

header {
}


h1 {
	font-family: Helvetica, Arial, sans-serif;
	color: #000;
	font-size: 150px;
	text-shadow: none;
	font-weight: 900;
	letter-spacing: -.02em;
	text-transform: lowercase;
	line-height: .2em;
	margin-bottom: 20px;
	}
	
h1 span {
	color : #cc3366;
}

h1 span span {
	color: #eee;
	font-weight: 900;
}
	
body {
	font-family: 'Inconsolata', monospace;
	background: #eaeaea;
	background-image:url('gridtile.png');
	margin-left: 50px;
	margin-top: 50px;
	font-size: 14px;
	text-shadow: 1px 1px 1px #fff;
	text-align: center;
	}
	
a {
	color: #cc3366;
	text-decoration: none;
	border-bottom: none;
	font-weight: normal;
	}
a:hover { color: #b5cc49; }
