
<header>
  <div id="header" class="row justify-content-center">
    <div class="col-3 text-right" id="profile_pic">
      <img src="{{ site.baseurl }}/assets/img/amz20.png">
    </div>
    <div class="w-100 d-block d-sm-none"></div>
    <div class="col-6 ">
      <div id="name">
        <h1><a id="name" href="{{ site.baseurl }}/">amrita mazumdar</a></h1>
  
        <h2>Founder & CEO, <a href="https://vignette.company/">Vignette AI</a><br />
          UW CoMotion Fellow<br /> <br />
          PhD, University of Washington<br />
          Allen School for Computer Science</h2>
          <img style="width:16px;height:16px;" src="{{site.baseurl}}/assets/open-iconic/svg/document.svg" alt="document"> <a href="{{site.baseurl}}/assets/pdf/amrita-mazumdar-cv.pdf">CV</a> <br />
          <img style="width:16px;height:16px;" src="{{site.baseurl}}/assets/open-iconic/svg/envelope-closed.svg" alt="envelope"> <a href="mailto:amrita@cs.washington.edu">amrita@cs.uw.edu</a> <br />
        </div>
      </div>
  
    </div>

</header>


    