        <div class="span1">
        </div>


        <div class="span3">
          <ul id="menu" class="nav nav-list">
            <li data-section="about">
              <a href="{{ site.baseurl }}/">about</a>
            </li>
            <li data-section="research">
              <a href="{{ site.baseurl }}/projects/index.html">research</a>
            </li>
            <li data-section="blog">
              <a href="http://blog.amritamaz.me">blog</a>
            </li>
            <li data-section="personal">
              <a href="{{ site.baseurl }}/personal.html">personal</a>
            </li>
            <li class="smaller">
              <i class="icon-envelope"></i> amrita (at) uw (dot) edu
            </li>

          </ul>
        </div>
