/*--------------------------------------------------
 					The Circle 
--------------------------------------------------*/

#circle {
	margin-top: -20px;
	margin-left: 200px;
	display: block;
	width: 400px;
	height: 400px;
	background: #66cc99;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-box-shadow: 1px 1px 1px #eee;
	-webkit-box-shadow: 1px 1px 1px #eee;
	box-shadow: 1px 1px 1px #eee;
}

#circle #circle_tick #circle_text {
	font-size: 3em;
	font-weight: 700;
	text-shadow: 1px 1px 1px #eee;
	list-style: none;
	margin-left: 75px;
	margin-top: 50px;
	position: absolute;
	text-align: center;
	width: 350px;
	height: 350px;
}

#contentwrapper #circle a{
	background: url(../images/refresh.png) no-repeat 0 0;
	color: #66cc99;
	text-shadow: none;
	position: absolute;
	margin-left: 180px;
	margin-top: 325px;
	z-index: 1000;
}

#contentwrapper #circle a:hover{
	text-shadow: none;
	-webkit-transition: rotate(360deg);
    -moz-transition: rotate(360deg);
    -o-transition: rotate(360deg);
}
