/* Coded with care

'||                                                  ||                                    
 ||                                            ''    ||                                    
 ||''|, '||  ||`     '''|.  '||),,(|,  '||''|  ||  ''||''   '''|.  '||),,(|,   '''|.  '''/ 
 ||  ||  `|..||     .|''||   || || ||   ||     ||    ||    .|''||   || || ||  .|''||   //  
.||..|'      ||     `|..||. .||    ||. .||.   .||.   `|..' `|..||. .||    ||. `|..||. /... 
          ,  |'                                                                            

--*/

/*--------------------------------------------------
					The Fonts
--------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Pacifico&v1);
@import url(http://fonts.googleapis.com/css?family=Inconsolata&v1);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:400italic,400,700,700italic);


/*--------------------------------------------------
					The Grid
--------------------------------------------------*/

.container .one.column			{ width: 80px;  }
.container .two.columns 		{ width: 160px; }
.container .three.columns 		{ width: 240px; }
.container .four.columns 		{ width: 320px; }
.container .five.columns 		{ width: 400px; }
.container .six.columns 		{ width: 480px; }
.container .seven.columns 		{ width: 560px; }	
.container .eight.columns 		{ width: 640px; }
.container .nine.columns 		{ width: 720px; }
.container .ten.columns 		{ width: 800px; }	
.container .eleven.columns 		{ width: 880px; }	
.container .twelve.columns 		{ width: 960px; }

.container .six.offset.three	{ width: 480px; margin-left: 240px; }
.container .midbythree_a		{ width: 160px; margin-left: 240px; margin-top: 15px;}
.container .midbythree_b		{ width: 160px; margin-left: 400px; margin-top: -15px;}
.container .midbythree_c		{ width: 160px; margin-left: 560px; margin-top: -15px;
	 								text-align: right;}
.container .eleven.one			{ width: 880px; margin-left: 80px; margin-top: 40px; }
.container .footcols			{ width: 240px; margin-left: 380px; margin-top: 10px;}
.container .divider				{ width: 800px; margin: 8px 0px 0px 80px; 
									border-top: 1px dotted #000; }
.container .divider2				{ width: 800px; margin: 1px 0px 0px 80px; 
									border-top: 1px dotted #000; }

.container .text 				{ width: 740px; margin-left: 40px; margin-top: -10px;}

/*--------------------------------------------------
 					The Basics 
--------------------------------------------------*/

body {
	font-family: 'Josefin Slab', 'Georgia', 'Times New Roman', Times, serif;
	font-size: 1em; /* default is 16px */
	background: #ffffff;
	background-image:url('../images/hatch.png');
	color: #000000;
	}

section span {color: #b5cc49;}

#contentwrapper {
	font-size: 1.5em;
	font-weight: 300;
	color: #333;
}

#content {
	font-size: .85em;
	font-weight: 300;
	color: #333;
}

#content span {
	color: #b5cc49;
/*	font-weight: 700;
	text-shadow: 1px 1px 1px #d4d4d4;
*/}

#content #work {
	font-weight: 700;
	text-shadow: 1px 1px 1px #e3e3e3;
	font-size: 64px;
	text-align: center;
}

	
/*  CHANGE HIGHLIGHT COLOR   */
	::selection { background: #b5cc49; color: #ffffff; /* Safari */ }
	::-moz-selection { background: #b5cc49; color: #ffffff; /* Firefox */ }
	
	#bottom {
	}
	
/* back button */
	#back {
		font-size: 1em;
	}

/*--------------------------------------------------
 					The Circle 
--------------------------------------------------*/

#circle {
	width: 400px;
	height: 400px;
	background: #66cc99;
	
	margin-left: 175px;
	margin-top: -10px;
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	
	border: 10px #fff solid;
	
	-moz-box-shadow: 3px 3px 3px #bbb, -3px -3px 3px #bbb,
		-3px 3px 3px #bbb, 3px -3px 3px #bbb;
	-webkit-box-shadow: 3px 3px 5px #bbb, -3px -3px 5px #bbb,
		-3px 3px 5px #bbb, 3px -3px 5px #bbb;
	box-shadow: 3px 3px 5px #bbb, -3px -3px 5px #bbb,
		-3px 3px 5px #bbb, 3px -3px 5px #bbb;
}

#stitching {
	background-color: transparent;
	border: 2px dashed #fff;
	width: 390px;
	height: 390px;
	border-radius: 195px;
	margin-top: 3px;
	margin-left: 3px;
	color: #000;
}

#circle_tick {	
	font-size: 3.5em;
	font-weight: 700;
	text-shadow: 2px 2px 2px #eee;
	list-style: none;
	text-align: center;
	margin-left: 50px;
	margin-top: 85px;
}

#contentwrapper #next{
	color: #66cc99;
	position: absolute;
	z-index: 1000;
	text-shadow: 5px 5px 5px #fff;
	margin-top: -50px;
	margin-left: 375px;
}

.rotate{
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-o-transition-duration: .5s;
	transition-duration: .5s;

	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;

	overflow:hidden;

	}	

.rotate:hover	
{ 
	-webkit-transform:rotate(180deg) scale(1.1);
	-moz-transform:rotate(180deg) scale(1.1);
	-o-transform:rotate(180deg) scale(1.1);
}

.rotate:active {
	padding-bottom: 8px;	
}	
	
	
/*--------------------------------------------------
 					Nav Text 
--------------------------------------------------*/
	
#nav {
	font-size: .9em; /* 14.4/16 = .9em */
	font-family: 'Inconsolata', monospace;
	text-transform: none;
	}
		
#nav span {
	color:#fcfcfc;
	}

#nav ul { 
	position: absolute;
	text-align: center;
	
} 

#nav ul li { 
	display: inline;
}
		
/*--------------------------------------------------
 					Link Styling 
--------------------------------------------------*/
a {
	color: #66cc99;
	text-decoration: none;
	border-bottom: none;
	font-weight: 600;
	text-shadow: 1px 1px 1px #eee;
	opacity: .8;
	}
a:hover { color: #b5cc49; 
	}
	
a:hover, #nav a:hover {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	transition: all .3s ease-out;
	
}

a.name { color: #000; text-shadow: 2px 2px 1px #fff, 4px 4px 1px #66cc99;
	font-family: 'Pacifico';
	font-size: 5em;
	line-height: 1em;
	margin-left: .6em;
	}
	
a.name:hover {color: #cc3366; 	
}

#nav a {color: #000000; text-transform: uppercase; font-weight: 100; }
#nav a:hover {color: #cc3366; text-transform: lowercase; }
#nav a span {color: #fcfcfc;}
#nav li a.active {color: #000000; text-transform: lowercase; }
#nav li a.active span { color: #cc3366; } 


/*--------------------------------------------------
				Footer Sprite 
--------------------------------------------------*/

.footcols ul li{
	display: inline;
	list-style-type: none;
}
.footcols ul a{
	background: url(../images/contact.png) no-repeat 0 0;
	float: left;
	height: 38px;
	width: 39px;
	text-indent: -9999px;
}

.footcols ul a:hover{
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
}
.footcols ul a:hover.twitter{
	background-position: 0 -39px;
}
.footcols.footcols ul a.flickr{
	background-position: -40px 0;
}
.footcols ul a:hover.flickr{
	background-position: -40px -39px;
}
.footcols ul a.vimeo{
	background-position: -80px 0;
}
.footcols ul a:hover.vimeo{
	background-position: -80px -39px;
}
.footcols ul a.git{
	background-position: -120px 0;
}
.footcols ul a:hover.git{
	background-position: -120px -39px;
}
.footcols ul a.mail{
	background-position: -160px 0;
}
.footcols ul a:hover.mail{
	background-position: -160px -39px;
}

