/*--------------------------------------------------
 					The Circle 
--------------------------------------------------*/

#circle {
	width: 200px;
	height: 200px;
	background: #66cc99;
	font-family: 'futura-pt';
	
	margin-top: -10px;
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	
	border: 10px #fff solid;
	
/*	-moz-box-shadow: 3px 3px 0px #bbb, -3px -3px 0px #bbb,
		-3px 3px 0px #bbb, 3px -3px 0px #bbb;
*/	-webkit-box-shadow: 2px 2px 0px #ddd, -2px -2px 0px #ddd,
		-2px 2px 0px #ddd, 2px -2px 0px #ddd;
/*	box-shadow: 3px 3px 0px #bbb, -3px -3px 0px #bbb,
		-3px 3px 0px #bbb, 3px -3px 0px #bbb;
*/}

#stitching {
	background-color: transparent;
	border: 2px dashed #fff;
	width: 190px;
	height: 190px;
	border-radius: 195px;
	margin-top: 4px;
	margin-left: 4px;
	color: #000;
}

#circle_tick {	
	font-size: 1.5em;
	font-weight: 700;
	text-shadow: 2px 2px 2px #eee;
	list-style: none;
	text-align: center;
	margin-left: 50px;
	margin-top: 30px;
	max-width: 100px;
}

#circle_tick div {
	width: 150px;
}

#contentwrapper #next{
	color: #66cc99;
	position: absolute;
	z-index: 1000;
	text-shadow: 5px 5px 5px #fff;
	margin-top: -50px;
	margin-left: 100px;
}

.rotate{
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-o-transition-duration: .5s;
	transition-duration: .5s;

	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;

	overflow:hidden;

	}	

.rotate:hover	
{ 
	-webkit-transform:rotate(180deg) scale(1.1);
	-moz-transform:rotate(180deg) scale(1.1);
	-o-transform:rotate(180deg) scale(1.1);
}

.rotate:active {
	padding-bottom: 8px;	
}	
	
