

/*--------------------------------------------
Global Styles Ã (body, paragraphs, lists, etc)
----------------------------------------------*/

body { 
	font-family: 'Inconsolata', 'Menlo', 'Monaco', 'Consolas', fixed-width;
	font-size: 12px;
}

header {
	font-weight: 400;
	font-family: 'Bitter';
	text-align: left;
	color: #fff;
	background-color: #888;
	margin: -10px -10px 0 -10px;

}

header #title{
	font-family: 'Lobster Two';
	font-size: 2.5em;
	margin: 0 10px 0 10px;
		border-bottom-style: 10px solid black;

}
/*--------------------------------------------
name
----------------------------------------------*/

#name { 
	font-size: 45px; 
	font-family: 'Lobster Two'; 
	font-weight: 700;
	display: block;
	color: #888; 
	text-shadow:1px 1px 0 black; 
	text-align: center;
	}
	
#name > div { 
	width: 100%;
}

#name span { color:#66cc99;}

#name .script{
	font-family: 'Bitter';
}

#name .next  { 
	font-family: 'Inconsolata', 'Menlo', 'Monaco', 'Consolas', fixed-width;
	cursor: pointer; 
	color: #888; 
	padding-top: 10px;
	font-size: 11px;
	font-weight: 400;
	text-shadow: 1px 1px 0 white; 
	display: block; 
}

#name .next:hover {
	font-weight: 700;
	color: #66cc99;
}